<section class="container">
  <header>
    <h2>Pesquisar CEP</h2>
  </header>

  <form action="" class="row g-2 mb-2">
    <div class="col-2">
      <label for="estado">Estado</label>
      <select name="estado" id="estado" class="form-select" [(ngModel)]="localidade.estado">
        <option value="" selected>Selecione</option>
        <option>PR</option>
        <option>RS</option>
        <option>RJ</option>
        <option>SP</option>
      </select>
    </div>

    <div class="col-10">
      <label for="cidade">Cidade</label>
      <input
        type="text"
        class="form-control"
        id="cidade"
        name="cidade"
        placeholder="Digite a cidade"
        [(ngModel)]="localidade.cidade"
      >
    </div>

    <div class="col-12">
      <label for="rua">Rua</label>
      <input
        type="text"
        class="form-control"
        id="rua"
        name="rua"
        placeholder="Digite um trecho da rua"
        [(ngModel)]="localidade.logradouro"
      >
    </div>

    <div class="col">
      <button class="btn btn-primary" (click)="findCeps()">Search</button>
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>CEP</th>
          <th>Logradouro</th>
          <th>Bairro</th>
          <th>Complemento</th>
        </tr>
      </thead>
      <tbody *ngIf="listaCep.length > 0, else naoPesquisado">
        <tr *ngFor="let local of listaCep">
          <td scope="row"><a href="" class="link-primary">{{ local.cep }}</a></td>
          <td>{{ local.logradouro }}</td>
          <td>{{ local.bairro }}</td>
          <td>{{ local.complemento }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</section>
<ng-template #naoPesquisado>
  <tbody>
    <tr>
      <td colspan="4" class="text-center">
        Ainda não há pesquisa realizada
      </td>
    </tr>
  </tbody>
</ng-template>
